nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid black;
  height: 50px;
  text-align: center;
}

main {
  margin-top: 70px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  margin-top: 40px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin: 20px 0;
}

.drinkKnown,
.ingredientKnown,
.drinkHelp {
  border: 1px solid black;
  padding: 30px;
  width: 400px;
  font-size: 18px;
}

.drinkKnown:hover,
.ingredientKnown:hover,
.drinkHelp:hover {
  background-color: #abddff;
}

#searchDrink,
#searchIngredient {
  margin-top: 100px;
}

#searchName,
#ingredientSearch {
  padding: 15px;
  width: 350px;
}

.searchHeader {
  text-align: center;
}

#drinkPickerForm {
  margin-top: 100px;
}

#drinkPickerForm li {
  border: 1px solid blue;
  width: 500px;
  padding: 20px;
  margin: 40px auto;
}

.resultsPage {
  margin-top: 80px;
}

.thumbnail {
  width: 200px;
  height: 200px;
}

.drinkResult {
  display: inline-block;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.recipePage {
  margin-top: 80px;
}

.drinkImg {
  height: 200px;
  width: 200px;
}

.drinkThumb {
  height: 200px;
  width: 200px;
}
